@import url("home_fin.css");

.hero {
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide-show-container {
  width: 100%;
  height: 100%;
}
/* CSS Styles in common for all slides */
.wrapper-one,
.wrapper-two,
.wrapper-three {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* CSS Styles for each slide */
/* Just add the image as background attribute and add some animation */

.wrapper-one {
    background-image: url(img/bg1.jpg);
}

.wrapper-two {
    background-image: url(img/bg2.jpg);
    animation: slideAnim 20s infinite;
}

.wrapper-three {
    background-image: url(img/img5.jpg);
    animation: slideAnim 20s infinite;
}

/* Styles for the text */
h3{
  color: white;
  text-shadow: #000;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin: 3rem;
  margin-top: 20%;
  margin-bottom: 0;
  width: 40%;
  padding: 2rem;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

p{
  color: white;
  font-size: larger;
  margin: 3rem;
  margin-top: 0;
  width: 50%;
  padding: 2rem;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes slideAnim {
    0%{opacity:0;}
    17%{opacity:0;}
    33%{opacity:1;}
    50%{opacity:1;}
    67%{opacity:0;}
    100%{opacity:0;}
}
