@import url("home_hero.css");
@import url("home_case.css");
@import url("home_invest.css");
@import url("home_info.css");
@import url("home_news.css");
@import url("home_about.css");
@import url("home_support.css");

:root {
    --primary-color:#032552 ;
    --secondary-color: #f4a900;
    --menu-width: 37.5em;
    --items: 4;
    --item-width: calc(var(--menu-width) / var(--items));
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}


/*
Navbar css
*/

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color) ;

    & img{
        width: 2.5rem;
        height: 2rem;
        border-radius: 5px;
        padding-left: 2rem;
    }
}

.menu {
    width: var(--menu-width);
    margin: 0px auto;
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    perspective: 2000px;
    flex-wrap: wrap;
}

.menu .menu-item {
    color: white;
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 1;
    display: flex;
    flex-basis: var(--item-width);
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    align-items: center;
    perspective: 200px;
    letter-spacing: 0.5px;
    min-height: 4em;
}

.menu .menu-text, nav .menu-text a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: color 0.1s ease-out;
    text-align: center;
}

.menu .menu-text a:hover {
    color: rgba(255,255,255,0.5);
}
.menu-text:after {
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
    opacity: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: -5em;
    left: calc(50% - 10px);
    border-color: transparent transparent white transparent;
    border-width: 10px;
    border-style: solid;
}




/*
Footer css
*/
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10vh;
    background: var(--primary-color);
    position: relative;
    font-size: smaller;
}

.footer-widget{
    width: 30%;

    & p {
        color: #fff;
    }
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 8rem;
  background: var(--secondary-color);
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;

    & a{
        color: #fff;
    }
}
.subscribe-form {
  position: relative;
  overflow: hidden;

    & input {
    width: 100%;
    padding: 13px 20px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 10px;
    color: #fff;
    }

    & button {
        height: 100%;
        width: 15%;
        position: absolute;
        right: 0;
        background: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 10px;
        top: 0;
    }
}